<div class="inner-index-container">
  <div class="index-image">
    <img src="{{model.image}}" class="index-image__pic" alt="">
  </div>
  <div class="index-row">
    <div class="index-row__title-container">
      <h3 class="solefood index-row__title">Ingredients</h3>
      {{#link-to "dashboard.recipes.detail.new-ingredient" class="index-row__btn fa fa-plus-circle"}}{{/link-to}}
    </div>
      <ul class="index-row__ul">
        {{#each model.ingredients as |ingredient|}}
          <li class="index-row__li">
            {{ingredient.quantity}} {{ingredient.unit}} {{ingredient.name}}
          </li>
          {{#link-to "dashboard.recipes.detail.edit-ingredient" ingredient.id class="index-row__btn fa fa-pencil"}}{{/link-to}}
        {{/each}}

      </ul>
    <div class="index-row__title-container">
      <h3 class="solefood index-row__title">Instructions</h3>
      {{#link-to "dashboard.recipes.detail.new-instruction" class="index-row__btn fa fa-plus-circle"}}{{/link-to}}
      {{!-- {{#link-to "dashboard.recipes.detail.edit-instruction" class="index-row__btn fa fa-pencil"}}{{/link-to}} --}}
    </div>
      {{!-- <h2>{{model.instructions.length}}</h2> --}}
      <ul class="index-row__ul">
        {{#each model.instructions as |instruction|}}
          <li class="index-row__li">
            {{instruction.step}} {{instruction.description}}
          </li>
        {{/each}}
      </ul>
  </div>
</div>
