<img src="{{model.image}}" width="300" alt="">

<div class="outer-index-container">
  <div class="inner-index-container">
    {{#link-to "dashboard.recipes.detail.new-ingredient"}}Ingredient
      <button class="new-ingredient__btn fa fa-plus-circle"></button>
    {{/link-to}}
    <ul>
      {{#each model as |ingredient|}}
        <li>
          {{ingredient.quantity}} {{ingredient.unit}} {{ingredient.name}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="inner-index-container">
    {{#link-to "dashboard.recipes.detail.new-instruction"}}Instruction
      <button class="new-instruction__btn fa fa-plus-circle"></button>
    {{/link-to}}
    <h2>{{model.instructions.length}}</h2>
    <ul>
      {{#each model.instructions as |instruction|}}
        <li>
          {{instruction.step}} {{instruction.description}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
