{{outlet}}
<div class="register-header">
  <h1 class="solefood">SoleFood</h1>
</div>
<div class="register-outer-container">
  <form {{action newUser model on="submit"}} class="register-form">
    {{paper-input class="register-form__input" label="First Name" value=model.firstName}}
    {{paper-input class="register-form__input" label="Last Name" value=model.lastName}}
    {{paper-input class="register-form__input" label="E-mail" type="email" value=model.email}}
    {{paper-input class="register-form__input" label="Password" type="password" value=model.password}}

    <button class="register-form__button">Submit</button>
  </form>

  <div class="already-registered">
    <h5 class="already-registered__text">Already registered?</h5>
    {{#link-to 'login'}}<h5 class="already-registered__click-here">Login Here.</h5>{{/link-to}}
  </div>
</div>
