<div class="dashboard-nav-container">
  {{#dashboard-nav user=model as |toggleMenu|}}
    {{dashboard-nav-item "Add New Recipe" "dashboard.recipes.new" beforeTransition=toggleMenu}}
    {{dashboard-nav-item "My Recipes" "dashboard.my-recipes" beforeTransition=toggleMenu}}
    {{dashboard-nav-item "View All Recipes" "dashboard.recipes" beforeTransition=toggleMenu}}
    {{dashboard-nav-item "Discover" "dashboard.home" beforeTransition=toggleMenu}}
    {{!-- {{dashboard-nav-item "Profile" "dashboard.user-profile" beforeTransition=toggleMenu}} --}}
    {{dashboard-nav-item "Logout" "logout" beforeTransition=toggleMenu}}
  {{/dashboard-nav}}
</div>

{{outlet}}
